In [26]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/armgilles/194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')

#### 1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.shape

(800, 13)

In [5]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [6]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [8]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

#### 2. Change all the column names
      - lowercase letters
      - remove whitespace
      - remove periods

In [9]:
#using a lambda function
df = df.rename(columns=lambda x: x.lower().replace(' ', '').replace('.', ''))

In [24]:
df

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [27]:
#using list comprehension
df.columns = [col.lower().replace('.','').replace(' ','').strip() for col in df.columns]

In [28]:
df.columns

Index(['#', 'name', 'type1', 'type2', 'total', 'hp', 'attack', 'defense',
       'spatk', 'spdef', 'speed', 'generation', 'legendary'],
      dtype='object')

In [29]:
df

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [34]:
# using a for loop
new_columns = []
for col in df.columns:
    new_col = col.lower().replace(' ', '').replace('.', '')
    new_columns.append(new_col)
    
df.columns = new_columns
df

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### 3. What is the highest HP value present?

In [11]:
df['hp'].sort_values(ascending=False).head(1)

261    255
Name: hp, dtype: int64

In [12]:
max_hp = df['hp'].nlargest().head(1)
max_hp

261    255
Name: hp, dtype: int64

In [13]:
df_sorted = df.sort_values('hp', ascending=False).head(1)
df_sorted

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [15]:
df.loc[df['hp'].idxmax()]

#                 242
name          Blissey
type1          Normal
type2             NaN
total             540
hp                255
attack             10
defense            10
spatk              75
spdef             135
speed              55
generation          2
legendary       False
Name: 261, dtype: object

#### 4. Which Pokemon possess(es) the highest HP value?
- note: the `name` column is the pokemon name

In [117]:
df_sorted = df.sort_values('hp', ascending=False).head(1)
df_sorted

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [21]:
df[df.hp == df.hp.max()].name

261    Blissey
Name: name, dtype: object

In [22]:
df[df.hp == df.hp.max()].name.values[0]

'Blissey'

#### 5. How many different types are represented in Type 1? What are they?

In [118]:
df

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [120]:
df.type1.nunique()

18

In [121]:
df.type1.unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

#### 6. Number of Pokemon whose Type 2 is Ghost

In [141]:
type2_counts = df['type2'].value_counts()

# select the count for "Ghost"
num_ghost_type2 = type2_counts.loc['Ghost']

# display the result
print("Number of Pokemon whose Type 2 is Ghost:", num_ghost_type2)

Number of Pokemon whose Type 2 is Ghost: 14

#### 7. Percentage of Pokemon whose Type 2 is Ghost

In [192]:
percentage_of_ghosts = round((num_ghost_type2/len(df)) *100,2)
percentage_of_ghosts

1.75

In [183]:
# create a Boolean mask to filter the DataFrame to only include rows where "Type 2" is "Ghost"
mask = df['type2'] == 'Ghost'

# count the number of rows that match the mask
num_ghost_type_2 = mask.sum()

# calculate the percentage of Pokemon whose Type 2 is Ghost
percentage_ghost_type_2 = num_ghost_type_2 / len(df) * 100
percentage_ghost_type_2

1.7500000000000002

#### 8. Number of Pokemon whose Attack is greater than Defense

In [17]:
len(df[df['attack'] > df['defense']])

433

In [31]:
atk_greater_than_defense = df['attack'] > df['defense']
atk_greater_than_defense

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796     True
797     True
798     True
799    False
Length: 800, dtype: bool

In [32]:
atk_greater_than_defense

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796     True
797     True
798     True
799    False
Length: 800, dtype: bool

In [33]:
atk_greater_than_defense.sum()

433

In [171]:
df['atk_greater_than_defense'] = atk_greater_than_defense
df

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary,atk_greater_than_defense
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,False
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,False

In [173]:
df.atk_greater_than_defense.value_counts()

True     433
False    367
Name: atk_greater_than_defense, dtype: int64

#### 9. What is the slowest speed for Grass type (either type 1 or type 2)

In [176]:
grass_mask = (df['type1'] == 'Grass') | (df['type2'] == 'Grass')
grass_pokemon = df[grass_mask]

# find the slowest speed for Grass type Pokemon
slowest_speed = grass_pokemon['speed'].min()
slowest_speed

10

In [19]:
df[(df['type1'] == 'Grass') | (df['type2'] == 'Grass')].min()

/var/folders/lp/pxhhvyv90vx8hwbv8yjldhj80000gn/T/ipykernel_14439/2262188442.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[(df['type1'] == 'Grass') | (df['type2'] == 'Grass')].min()

#                     1
name          Abomasnow
type1               Bug
total               180
hp                   30
attack               27
defense              30
spatk                24
spdef                30
speed                10
generation            1
legendary         False
dtype: object

#### 10. Find the average speed by Generation

In [179]:
# group the DataFrame by "Generation" and calculate the mean of "Speed" for each group
avg_speed_by_gen = round(df.groupby('generation')['speed'].mean(),2)

# display the result
print("Average speed by Generation:")
print(avg_speed_by_gen)

Average speed by Generation:
generation
1    72.58
2    61.81
3    66.92
4    71.34
5    68.08
6    66.44
Name: speed, dtype: float64

# 11. How many LEGENDARY Pokemon are DRAGON type?

In [181]:
mask = (df['type1'] == 'Dragon') & (df['legendary'] == True)
legendary_dragon_pokemon = df[mask]

# count the number of Legendary Dragon type Pokemon
num_legendary_dragon_pokemon = legendary_dragon_pokemon['legendary'].sum()

# display the result
print("Number of Legendary Dragon type Pokemon:", num_legendary_dragon_pokemon)

Number of Legendary Dragon type Pokemon: 12

In [20]:
mask = ((df['type1'] == 'Dragon') | (df['type2'] == 'Dragon')) & (df['legendary'] == True)
legendary_dragon_pokemon = df[mask]

# count the number of Legendary Dragon type Pokemon
num_legendary_dragon_pokemon = legendary_dragon_pokemon['legendary'].sum()

# display the result
print("Number of Legendary Dragon type Pokemon:", num_legendary_dragon_pokemon)

Number of Legendary Dragon type Pokemon: 16

In [ ]:
(df['type1'] == 'Grass') | (df['type2'] == 'Grass')